<div class="jumbotron">

<h1>Hello, Kellogg!</h1>
<p>Tired of bad professors and bad classes? Now there's a way to vet them before you choose. Rate Your Professor finally provides qualitative feedback on Kellogg professors and classes so you can choose the schedule that's right for you. Whether you've come to leave your own reviews or just browse what others have said, we're glad you're here. Welcome to Rate Your Professor.</p>
<p></p>
<p></p>
<a href="/courses" class="btn btn-success btn-lg" role="button">Search by course &raquo;</a>
<a href="professors" class="btn btn-success btn-lg" role="button">Search by professor &raquo;</a>
</div>
</div>
