<h2> <font face="verdana" color=purple>Class overview</font> </h2>

<table>
<style>
table,th,td
{
border:1px solid #C0C0C0;
border-collapse:collapse
}
</style>
<table style="width:600px">

<% all_classes = Classes.group("dept").order("class_no desc") %>

  <thead>
  <tr>
    <th> Department </th>
    <th> Class number </th>
    <th> Class name </th>
    <th> Average Rating </th>
  </tr>
  </thead>
  <tbody>

<% all_classes.each do |class| %>

  <tr>
    <% name = class["class_name"] %>
    <% avgrating = Classes.where("class_name" => name).average("rating") %>
    <td><%= link_to name, "/classes/#{{class["id"]}" %> </td>
    <td><%= dept %> </td>
    <td><%= class_no %> </td>
    <td><%= avgrating %> </td>

  </tr>
<% end %>
</tbody>
</table>
