<h1>Add a New Class</h1>

<form action="/classes" method="post">

  <p>
    <label>What department is the class in?</label>
    <input type="text" name="dept">
  </p>

  <p>
    <label>What is the class number?</label>
    <input type="integer" name="class_no">
  </p>

  <p>
    <label>What is the title of the class?</label>
    <input type="text" name="class_name">
  </p>

  <input type="submit"> or <a href="/classes">Cancel</a>

</form>
