<h2> <font face="verdana" color=purple>Choose a class:</font> </h2>

<%# department = Course.pluck("dept").uniq %>
<%# department.each do |tiger| %>
<%#= link_to tiger "/courses?=#{tiger["dept"]}"  %>

<%# end %>

<table>
<style>
table,th,td
{
border:1px solid #C0C0C0;
border-collapse:collapse
}
</style>
<table style="width:600px">

<% all_classes = Course.order("dept asc, course_no asc") %>
<% if params["dept"].present? %>
<%   all_classes = Course.where("dept" => params["dept"]).order("course_no asc") %>
<% end %>


  <thead>
  <tr>
    <th> Department </th>
    <th> Class Number </th>
    <th> Class name </th>
  </tr>
  </thead>
  <tbody>

<% all_classes.each do |zebra| %>

  <tr>
    <% name = zebra["course_name"] %>
    <td><%= zebra["dept"] %></td>
    <td><%= zebra["course_no"] %></td>
    <td><%= link_to name, "/courses/#{zebra["id"]}" %></td>

  </tr>
<% end %>
</tbody>
</table>
</style>
</table>
